<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header">Current sequences ({{sequences.length}}) <span class="pull-right">
       <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
               accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select File</button>
    </span></h4>

    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">datasetID</th>
                <th scope="col">sequenceID</th>
                <th scope="col">Content</th>
            </tr>
            </thead>
            <tbody *ngIf="sequences.length === 0">
            <tr>
                <td colspan="4">There are no sequences in the DB.</td>
            </tr>
            </tbody>
            <tbody>
            <tr *ngFor="let sequence of sequences">
                <td>{{sequence.datasetId}}</td>
                <td>{{sequence.seqId}}</td>
                <td>{{sequence.content}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<app-add-sequences></app-add-sequences>