<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">Dataset: <strong>{{annotation.target.name}}</strong></div>
            <div class="col-2">Annotated sequences <strong>{{annotation.sequencesAnnoated.length}}</strong></div>
            <div class="col-2">Tool used: <strong>{{annotation.tool.name}}</strong></div>
            <div class="col-3">Job ID: <strong>{{annotation._id}}</strong></div>
            <div class="col-3">Status: <strong>{{annotation.status}}</strong></div>
        </div>
    </div>
    <div class="card-body" *ngIf="action=='sequences' && !!annotation">
        <ng2-smart-table [settings]="tableSettings" [source]="annotation.sequencesAnnoated"> </ng2-smart-table>
    </div>
</div>


